.közép{
    text-align: center;
}

body {
    background-image: url("Képek/sky5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

p {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(25, 68, 185);
    color: white;
    border: 1px solid rgb(32, 100, 189);
    font-size: 25px;
    padding: 20px;
    border-radius: 100px;
    width: 85%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gif{
    width: 50%;
    height: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.black{
    color: black;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    color: black;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

h1 {
    text-align: center;
    color: white;
}

img {
    text-align: left;
    width: 100%;
    max-width: 900px;
    height: auto;
}

ul{
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(25, 68, 185);
    color: white;
    border: 1px solid rgb(32, 100, 189);
    font-size: 25px;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3{
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(25, 68, 185);
    color: white;
    border: 1px solid rgb(32, 100, 189);
    font-size: 25px;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

link{
    color: white;
}

table{
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

tr.striped:nth-child(even) {
    background-color: #f2f2f2;
}


a:link {
    color:#fff ;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(77, 255, 0);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(255, 196, 0);
    background-color: transparent;
    text-decoration: underline;
}

a:visited{
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
}

* {box-sizing: border-box;}

.img-zoom-container {
    position: relative;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 250px;
    height: 250px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
}