body {
    background-image: url("Képek/starfield.png");
}


h1 {
    text-align: center;
    color: white;
}

img {
    width: 20%;
}


img{
    text-align: center;
}


link{
    color: white;
}

table{
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

tr.striped:nth-child(even) {
    background-color: #f2f2f2;
}

tr.darkblue {
    background-color: rgb(34, 55, 174);
    color: #fff;
    font-size: 100%;
}
tr.blue{
    background-color: #3996d4;
    color: #fff;
    font-size: 100%;
}

td a:link {
    color:#fff ;
    background-color: transparent;
    text-decoration: none;
}

td a:hover {
    color: rgb(77, 255, 0);
    background-color: transparent;
    text-decoration: underline;
}

td a:active {
    color: rgb(255, 196, 0);
    background-color: transparent;
    text-decoration: underline;
}